<div class="m-3">
    <button type="button" class="btn btn-primary" (click)="stack.push(randomNum)">push</button>
    <button type="button" class="btn btn-primary ml-2" (click)="stack.pop()">pop</button>
    <button type="button" class="btn btn-primary ml-2" (click)="stack.clear()">clear</button>
</div>
<div class="m-3">
    stack: {{ stack.items | json }}
</div>

<div class="m-3">
    head: {{ stack.top() }}
</div>

<div class="m-3">
    size: {{ stack.size() }}
</div>

<div class="m-3">
    isEmpty: {{ stack.isEmpty() }}
</div>
